@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}
body { margin: 2em 2em !important; }
h1, h2, h3, h4, h5, h6 { margin: 0.4em 0em; }

* { font-size: 1.2em; }
h1 { font-size: 2.3em;
     font-variant: small-caps; }
h2 { font-size: 1.6em; }

i { color: #aaa; font-size: 0.75em; }
button {
  border-radius: 100%;
  border: none;
  background: #eee;
  color: #aaa;
  padding: 0.5em 0.9em;
  font-size: 0.5em;
  font-weight: 900;
  transition: 0.2s;
}
button:active {
  background: #ddd;
  transition: 0.2s;
}

img {
    height: 0.7em
}
